<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   <!-- <ion-title>{{ folder }}</ion-title>-->
    <!-- <ion-button color="warning" (click)="fucaoteste()">Alertas</ion-button> -->
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-row class="ion-justify-content-center" *ngIf="medicao" style="margin: 24px 0px">
    <ion-col size="5" >
      <ion-row>Temperatura</ion-row>
      <ion-row #tempAnimation>
        <ion-title size="large" style="padding: 4px 10px" >{{ medicao.temp }}</ion-title>
      </ion-row>
      <ion-row>{{medicao.temp_status}}</ion-row>
    </ion-col>
    <ion-col size="5">
      <ion-row>Umidade</ion-row>
      <ion-row #umidAnimation>
        <ion-title size="large" style="padding: 4px 10px">{{ medicao.umid }}</ion-title>
      </ion-row>
      <ion-row>{{medicao.umid_status}}</ion-row>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ folder }}</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-row>


  <ion-row *ngIf="medicoes">

    <ion-item style="height: 280px; margin-left: -12px">
        <canvas #lineCanvas style="width:97vw; height: 280px; "></canvas>
    </ion-item>

    <!--
    <ion-row *ngIf="pieChart" style="padding: 0px; margin-top: 16px">
      <google-chart [data]="pieChart" style="width: 100vw; padding: 0px;"></google-chart>
    </ion-row>
-->
    <ion-item style="width: 100vw">
      <ion-label>Data inicial</ion-label>
      <ion-datetime displayFormat="DD / MMM / YY" placeholder="Data Inicial"
                    cancel-text="Voltar" done-text="Ok"
                    value="{{dataInic}}" min="2020-10"
                    monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
                    [formControl]="formDataInic"
                    (ionChange)="selecionadoData()"
      ></ion-datetime>
    </ion-item>

    <ion-item style="width: 100vw; margin-top: 4px; margin-block-end: 16px">
      <ion-label>Data final</ion-label>
        <ion-datetime displayFormat="DD / MMM / YY" placeholder="Data Final"
                      cancel-text="Voltar" done-text="Ok"
                      value="{{dataFinal}}" min="2020-10"
                      [formControl]="formDataFinal"
                      (ionChange)="selecionadoData()"
                      monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
        ></ion-datetime>
    </ion-item>

    <p style="opacity: 0.2">. </p>

    <ion-row style="width: 100vw">
      <ion-col size="4">
        <p style="margin: 0px">Data</p>
      </ion-col>
      <ion-col size="8">
        <p style="margin: 0px">Alerta</p>
      </ion-col>
    </ion-row>
    <div *ngIf="alertas.length == 0">
      <p style="margin: 8px">Nenhum alerta</p>
    </div>
    <div #alertaPiscando style="width: 100vw">
      <ion-list *ngFor="let alerta of alertas" style="opacity: 0.6; padding: 0px; width: 100vw" >
        <ion-row >
          <ion-col size="4">
            <p style="margin: 0px">{{alerta.created | date:'dd/MMM/yy - H:mm'}}</p>
          </ion-col>
          <ion-col size="8">
            <p style="margin: 0px">{{alerta.descricao}}</p>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>
    <ion-button color="warning" (click)="silenciarAlertas()" *ngIf="alertas.length !== 0">Limpar Alertas</ion-button>


    <p style="opacity: 0.2; margin-top: 24px">. </p>
      <ion-row style="margin-top: 16px">
        <ion-col>
          <p style="margin: 0px">Data</p>
        </ion-col>
        <ion-col>
          <p style="margin: 0px">Temp</p>
        </ion-col>
        <ion-col>
          <p style="margin: 0px">Umid</p>
        </ion-col>
      </ion-row>
      <ion-list *ngFor="let medicao of medicoes" style="opacity: 0.6">
        <ion-row style="width: 100vw">
          <ion-col>
            <p style="margin: 0px">{{medicao.Data | date:'dd/MMM/yy - H:mm'}}</p>
          </ion-col>
          <ion-col >
            <p style="margin: 0px">{{medicao.Temperatura}}</p>
          </ion-col>
          <ion-col >
            <p style="margin: 0px">{{medicao.Umidade}}</p>
          </ion-col>
        </ion-row>
      </ion-list>

      <ion-row class="ion-align-items-end" style="margin: 8px 0px">
        <ion-col class="ion-align-self-end">
          {{medicoes.length}} Medições
        </ion-col>
      </ion-row>
  </ion-row>
  <ion-row>
    <ion-button color="primary" (click)="executarNative()">executar</ion-button>
    <ion-button color="primary" (click)="pararNative()">Parar</ion-button>
  </ion-row>
</ion-content>
