<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="add-circle" style="font-size: 32px;"></ion-icon>
      </ion-button>
    </ion-buttons>

   <!-- <ion-title>{{ folder }}</ion-title>-->
    <!-- <ion-button color="warning" (click)="fucaoteste()">Alertas</ion-button> -->
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <app-card-estufa [dadosModulo]="configLocal.modulos[0]"></app-card-estufa>

  <ion-card>
    <ion-item>
      <ion-label>Estufa Nome</ion-label>
      <ion-button color="light" slot="end" size="default" (click)="abrirConfigEstufa('1')"><ion-icon name="settings-outline"></ion-icon></ion-button>
    </ion-item>
    <ion-item class="ion-activated">
        <ion-col>
          <ion-row>
            <ion-label class="txt-temp-umid">Temperatura</ion-label>
          </ion-row>
          <ion-row class='temp-umid-valor' #tempAnimation>
            <ion-icon name="thermometer-outline"></ion-icon>
            <ion-label>{{ medicao.temp }}</ion-label>
            <ion-icon *ngIf="medicao.temp == 0" name="warning-outline" color="warning" style="margin-left: 4px;"></ion-icon>
          </ion-row>
          <ion-row >
            <ion-label class="txt-temp-umid">{{medicao.temp_status}}</ion-label>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-label class="txt-temp-umid">Umidade</ion-label>
          </ion-row>
          <ion-row class='temp-umid-valor' #umidAnimation>
            <ion-icon name="water-outline"></ion-icon>
            <ion-label>{{ medicao.umid }}</ion-label>
            <ion-icon *ngIf="medicao.umid == 0" name="warning-outline" color="warning" style="margin-left: 4px;"></ion-icon>
          </ion-row>
          <ion-row>
            <ion-label class="txt-temp-umid">{{medicao.umid_status}}</ion-label>
          </ion-row>
        </ion-col>
    </ion-item>
    <ion-row class="ion-justify-content-end">
      {{medicao.createdAt}}
    </ion-row>
    <ion-row class="ion-justify-content-end" *ngIf="(medicao.umid == 0 && medicao.temp == 0)">
      <ion-icon  name="warning-outline" color="warning" style="margin-left: 4px;"></ion-icon>
      <ion-label>Erro de conexão</ion-label>
    </ion-row>

    <ion-item class="ion-activated ion-justify-content-center" >
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-button color="light"  size="default"  *ngIf="alertaAtivado" (click)="desativarAlerta('1')"><ion-icon style="color: darkgreen;"  name="volume-high-outline"></ion-icon></ion-button>
          <ion-button color="light" size="default" *ngIf="!alertaAtivado" (click)="ativarAlerta('1')"><ion-icon style="color: darkred;" name="volume-mute-outline"></ion-icon></ion-button>  
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-label *ngIf="alertaAtivado" style="color: darkgreen; font-size: small;">Ativado</ion-label>
          <ion-label *ngIf="!alertaAtivado" style="color: darkred; font-size: small;">Desativado</ion-label>
        </ion-row>
        </ion-col>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-button color="light" size="default" (click)="abrirAlertasEstufa('1')"><ion-icon name="warning-outline" ></ion-icon></ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-label style="font-size: small;">Alertas</ion-label>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="ion-justify-content-center">
          <ion-button color="light"  size="default" (click)="abrirMedicoesEstufa('1')" ><ion-icon name="bar-chart-outline" ></ion-icon></ion-button>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-label style="font-size: small;">Medições</ion-label>
        </ion-row>
      </ion-col>
    </ion-item>
  </ion-card>
  
  





  
<!--
  
  <ion-row *ngIf="medicoes">

    <ion-item style="height: 280px; margin-left: -12px">
        <canvas #lineCanvas style="width:97vw; height: 280px; "></canvas>
    </ion-item>
    <ion-item style="width: 100vw">
      <ion-label>Data inicial</ion-label>
      <ion-datetime displayFormat="DD / MMM / YY" placeholder="Data Inicial"
                    cancel-text="Voltar" done-text="Ok"
                    value="{{dataInic}}" min="2020-10"
                    monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
                    [formControl]="formDataInic"
                    (ionChange)="selecionadoData()"
      ></ion-datetime>
    </ion-item>

    <ion-item style="width: 100vw; margin-top: 4px; margin-block-end: 16px">
      <ion-label>Data final</ion-label>
        <ion-datetime displayFormat="DD / MMM / YY" placeholder="Data Final"
                      cancel-text="Voltar" done-text="Ok"
                      value="{{dataFinal}}" min="2020-10"
                      [formControl]="formDataFinal"
                      (ionChange)="selecionadoData()"
                      monthShortNames="jan, fev, mar, abr, mai, jun, jul, ago, set, out, nov, dez"
        ></ion-datetime>
    </ion-item>

    <p style="opacity: 0.2">. </p>

    <ion-row style="width: 100vw">
      <ion-col size="4">
        <p style="margin: 0px">Data</p>
      </ion-col>
      <ion-col size="8">
        <p style="margin: 0px">Alerta</p>
      </ion-col>
    </ion-row>
    <div *ngIf="alertas.length == 0">
      <p style="margin: 8px">Nenhum alerta</p>
    </div>
    <div #alertaPiscando style="width: 100vw">
      <ion-list *ngFor="let alerta of alertas" style="opacity: 0.6; padding: 0px; width: 100vw" >
        <ion-row >
          <ion-col size="4">
            <p style="margin: 0px">{{alerta.created | date:'dd/MMM/yy - H:mm'}}</p>
          </ion-col>
          <ion-col size="8">
            <p style="margin: 0px">{{alerta.descricao}}</p>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>
    <ion-button color="warning" (click)="silenciarAlertas()" *ngIf="alertas.length !== 0">Limpar Alertas</ion-button>
  </ion-row>
  <ion-row>
    <ion-col class="ion-align-self-end" *ngIf="admin">
      <ion-button color="primary" (click)="testarAlerta()">Testar Alerta</ion-button>
    </ion-col>
    <ion-col class="ion-align-self-end" *ngIf="admin">
      <ion-button color="primary" (click)="gerarPDF()">PDF</ion-button>
    </ion-col>
    <ion-col class="ion-align-self-end" *ngIf="!admin">
      <ion-button color="light"  (click)="habilitaDelete(true)">Admin</ion-button>
    </ion-col>
    <ion-col class="ion-align-self-end" *ngIf="admin" >
      <ion-button color="light" (click)="habilitaDelete(false)">Normal</ion-button>
    </ion-col>
  </ion-row>

-->
<ion-row class="ion-align-self-end" style="margin-top: 300px;" *ngIf="alertaAtivado">
  <ion-button color="light" (click)="testarAlerta()">Testar Alerta</ion-button>
</ion-row>
</ion-content>
