<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
  
    <ion-buttons slot="end">
      <ion-button color="primary">
        <ion-icon name="add-circle" style="font-size: 32px;"></ion-icon>
      </ion-button>
    </ion-buttons>

   <!-- <ion-title>{{ folder }}</ion-title>-->
    <!-- <ion-button color="warning" (click)="fucaoteste()">Alertas</ion-button> -->
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

<ion-row *ngFor="let modulo of configLocal.modulos">
  <app-card-estufa style="width: 100vw;" [dadosModulo]="modulo"></app-card-estufa>
</ion-row>

</ion-content>
