<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="dadosModulo">Configuração da Estufa {{dadosModulo.identificacao}}</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-content  *ngIf="formConfig">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Configurações alertas</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-content>

  <ion-content  [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Endereço IP do Medidor</ion-title>
      </ion-toolbar>
    </ion-header>

    



    <ion-content>
      <ion-item-divider style="margin: 8px 0px">
        <ion-grid>
          <ion-row>
            <ion-text>IP do medidor Raspberry na rede</ion-text>
          </ion-row>
          <ion-row style="padding: 8px 0px;" *ngIf="dadosModulo">
            <ion-text>{{this.dadosModulo.ip}}</ion-text>
          </ion-row>
          <ion-row>
            <ion-button color="warning" type="submit" (click)="IPModal()" >Alterar IP</ion-button>
          </ion-row> 
        </ion-grid>
      </ion-item-divider> 
      <ion-row>
        <ion-title size="large" style="padding: 4px 10px" *ngIf="datetimeCelular" >Celular: {{ datetimeCelular | date:'dd/MMM/yy - H:mm'}}</ion-title>
      </ion-row>
      <ion-row>
        <ion-title size="large" style="padding: 4px 10px" *ngIf="datetimeDispositivo">Medidor: {{ datetimeDispositivo | date:'dd/MMM/yy - H:mm'}}</ion-title>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="margin: 16px;">
        <ion-button color="secondary" expand="block" (click)="buscarDataRapsberry()">Verificar hora Medidor</ion-button>
        <ion-button color="warning" expand="block" (click)="atualizarDataRaspberry()">Equiparar data hora</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="margin: 32px" *ngIf="alertaAtivado">
        <ion-button color="danger" expand="block" (click)="desativarAlertas()">Desativar Alertas</ion-button>
      </ion-row>

      <ion-row class="ion-justify-content-center" style="margin: 32px" *ngIf="dadosModulo.token == ''">
        <ion-button color="danger" expand="block" (click)="login()">Login</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="margin: 32px" *ngIf="dadosModulo.token !== ''">
        <ion-button color="danger" expand="block" (click)="logout()">Logout</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="margin: 32px" *ngIf="!alertaAtivado">
        <ion-button color="success" expand="block" (click)="ativarAlertas()">Ativar Alertas</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="margin: 32px">
        <ion-button color="secondary" expand="block" (click)="abrirAlertaConfig()">Intervalo Alertas</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="margin: 32px">
        <ion-button color="light" expand="block" (click)="excluirModulo()">Excluir</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center" style="margin: 32px">
        <ion-button color="tertiary" expand="block" (click)="dismiss()">Voltar</ion-button>
      </ion-row>
    </ion-content>
  </ion-content>


</ion-content>
